on:
  push:
    branches:
      - 'dev'

jobs:
  ubuntu-client:
    runs-on: [self-hosted, test-client]
    env:
      MODE: client
      START: ClientCLI
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Ubuntu Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          # Запуск контейнера
          docker-compose -f ./dockers/ubuntu/docker-compose.yml up

          EXIT_CODE=$(docker wait ubuntu)
          
          docker rm -f ubuntu

          exit "$EXIT_CODE"