on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build-and-run:
    runs-on: [self-hosted, test-client]
    env:
      MODE: client
      START: ClientCLI

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Ubuntu_Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          # Запуск docker-compose в фоновом режиме
          docker-compose -f ./dockers/ubuntu/docker-compose.yml up -d --build
          
          # Подождать немного, чтобы контейнер запустился
          sleep 10
          
          # Удаление контейнера по имени
          docker rm -f ubuntu
        

      - name: Debian_Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          docker-compose -f ./dockers/debian/docker-compose.yml up -d --build
          sleep 10
          docker rm -f debian

      - name: Fedora_Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          docker-compose -f ./dockers/fedora/docker-compose.yml up -d --build
          sleep 10
          docker rm -f fedora

      - name: Arch_Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          docker-compose -f ./dockers/arch/docker-compose.yml up -d --build
          sleep 10
          docker rm -f arch
