on:
  push:
    branches:
      - '**'  # Запуск при любом пуше, можно ограничить конкретной веткой

jobs:
  build-and-run:
    runs-on: [self-hosted, test-client]

    env:
      MODE: client
      START: ClientCLI

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Ubuntu_Client
        run: |
          echo "MODE=${MODE}"
          echo "START=${START}"
          
          # Запуск docker-compose с нужным файлом
          docker-compose -f ./dockers/ubuntu/docker-compose.yml up --build
          
          docker rm -f ubuntu

          # Удаление образа
          docker rmi test_ubuntu
